
h2 {
    margin: 0;
}
.servicios {
    border: 3px solid black;
    height: 300px;
    display: grid;

    
}

.servicio {
    color: white;
    text-align: center;
}

.servicio-1 {
    background-color: darkviolet;
}

.servicio-2 {
    background-color: limegreen;
}
.servicio-3 {
    background-color: teal;
}