
html {
    @include box-sizing(border-box);
    height: 100%;
}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}
body {
    font-family: $fuente_principal;
}
img {
    max-width: 100%;
}
.centrado {
    text-align:center;
}
.oculto {
    display: none;
}

.pagina{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}