
$fuentes_princial: 'Raleway', sans-serif;

$principal : #33C3F0;
$secundario: #741d51;
$terciario: #e33e52;
$blanco: #fff;
$gris: #e1e1e1e1;
$negro: #000;



$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;