html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit; /* Tecnica de Paul Irsh Desarrollador de Google */
}

body {
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}
h2 {
    flex: 0 1 100%;
    text-align: center;
    font-size: 1.6rem;
}
h3 {
    font-family: 'Libre Baskerville', serif;
    margin:0;
    font-weight: 700;

}
img {
    max-width: 100%;
}

/* Header */

.hero{
    background-image: url(../img/hero.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
}

.header{
    display: flex;
    flex-direction: column; /* Por defecto siempre es Row "recuerda" */
    justify-content: center; /*Cuando se utilizar flex direction column, el justify content pasa a alinear de manera vertical, y align item posiciona de manera horizontal, cuando se usa flex-direction row se inverten los papeles*/

    position: relative;
}

.barra{ 
    position: absolute;
    background-color: #008fd1;
    width: 100%;
    top: 0rem;
    padding: 1rem 0;
}

.barra .contenedor{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px){
    .barra .contenedor{
        flex-direction: row;
        justify-content: space-between;
    }
}

.logo{
    text-align: center;
}

.navegacion ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px){
    .navegacion{
        flex: 0 0 20rem;    
    }
    .navegacion ul{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;

}

.logo-img{
    max-width: 20rem;
}

.header-contenido h1{
    color: #008fd1;
    font-size: 2.4rem;
    max-width: 25rem;
}

/* Contenido */
.contenido {
    background-color: white;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.contenido {
    padding: 1rem;
    text-align: center;
}
.contenido h3 {
    text-align: center;
    font-size: .9rem;
    line-height: 1.4rem;
}
.contenido span {
    color:#db008d;
}
.boton {
    background-color: #008fd1;
    color: white;
    padding: .6rem 2rem;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
@media screen and (min-width:480px) {
    .contenido-principal {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .entrada {
        flex: 0 1 calc(50% - 1rem);

    }
}

@media screen and (min-width:768px) {
    .entrada {
        flex: 0 1 calc(33% - 1rem);
    }
}

/* Categorias */

.categorias ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none; 
}

.categorias ul li{
    flex: 1 0 calc(50%);
    padding: 2rem;
}

@media screen and (min-width: 768px){
    .categorias ul li{
        flex: 1;
    }
}

.categorias ul li:nth-child(1){
    background-color: #008fd1;
}

.categorias ul li:nth-child(2){
    background-color: #d100a4;
}

.categorias ul li:nth-child(3){
    background-color: #bcd100;
}

.categorias ul li:nth-child(4){
    background-color: #d13b00;
}

.categorias ul li a{
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none;
}

.categorias ul li i{
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Footer */

.footer{
    background-color: #0088fd;
    padding-top: 1rem;
    color: white;
}

.footer h2{
    text-transform: uppercase;
}

@media screen and (min-width:768px){
    .footer .contenedor{
        display: flex;
    }

    .footer .caja{
        flex: 1;
    }
}

.copyright{
    background-color: #004d70;
    margin: 2rem 0 0 0;
    padding: 1rem 0;
    text-align: center;
}  

/* Social Networks */

.sociales ul li span{
    display: none;
}

.sociales ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 0 auto;
    list-style-type: none;
}

.sociales ul li{
    margin-right: 1rem;
}

.sociales ul li a{
    text-decoration: none;
}

.sociales ul li a::before{
    font-family: "Font Awesome 5 Brands";
    color: white;
    font-size: 2rem;
}

.sociales ul li a[href*='facebook.com']::before{
    content: "\f39e";
}

.sociales ul li a[href*='twitter.com']::before{
    content: "\f099";
}

.sociales ul li a[href*='youtube.com']::before{
    content: "\f167";
}

.sociales ul li a[href*='instagram.com']::before{
    content: "\f16d";
}

.sociales ul li a[href*='pinterest.com']::before{
    content: "\f231";
}
